@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

html,
body{
  background: #0c0c0c;
  color:azure;
   overflow-x: hidden;
}

.container{
  width: 100%;
}

.font-roboto {
 
  font-family: 'Nunito', 'sans-serif';
}
